body {
    background-color: #d2e7f9;
    text-align: center;
    color: white;
    overflow-x: hidden;
  }
  
  h1 {
    margin: 30px;
    font-size: 45px;
  }
  
  img {
    border: 2px solid white;
    height: 400px;
    width: 500px;
  }
  
  h6 {
    margin: -10px;
    font-size: 50px;
  }
  
h5 {
    margin: 0px;
    font-size: 20px;
    font-family: monospace;
    background-color: #d2e7f9;
    color:white;
    border: 1px solid #d2e7f9;
  }
  
  nav {
    display:flex;
    justify-content: space-around;
    background-color: rgb(180, 204, 230);
    border-radius: 10px;
    padding: 15px;
  }
  
  .navbar {
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    background-color: rgb(180, 204, 230);
    border: white solid 2px;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }
  
  button:hover {
    transform: scale(1.1);
    z-index: 102;
    transition: 0.5s;
  }

  .current {
    background-color: white;
    color: rgb(180, 204, 230);
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    border: white solid 2px;
    padding: 10px;
    border-radius: 5px;
  }

  .secret {
    margin: 0px;
    font-size: 20px;
    font-family: monospace;
    background-color: #d2e7f9;
    color:white;
    border: 1px solid #d2e7f9;
  }
  
  .secret:hover {
    color: #9eb8e0;
  }
